.container {
  width: 700px;
  height: 500px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* justify-content: space-between;
  align-items: flex-end; */
}

.line1 {
  width: 100%;
  height: 100px;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.line2 {
  width: 100%;
  height: 100px;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: rgb(116, 183, 116);
}

.box2 {
  background-color: orange;
}

.box3 {
  background-color: red;
}

@media screen and (max-width: 800px) {
  .box2 {
    background-color: red;
  }
}
